@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");

@font-face {
  src:url("../fonts/proximanova-bold-webfont.ttf");
  font-family: "Proxima Nova"; font-weight: 700;
}

@font-face {
  src:url("../fonts/proximanova-semibold-webfont.ttf");
  font-family: "Proxima Nova"; font-weight: 500;
}

@font-face {
  src:url("../fonts/proximanova-light-webfont.ttf");
  font-family: "Proxima Nova"; font-weight: 300;
}

@font-face {
  src:url("../fonts/proximanova-regular-webfont.ttf");
  font-family: "Proxima Nova"; font-weight: 400;
}

@font-face {
  src:url("../fonts/proximanovacond-semibold-webfont.ttf");
  font-family: "Proxima Condensed"; font-weight: 500;
}

@font-face {
  src:url("../fonts/proximanovacond-thin-webfont.ttf");
  font-family: "Proxima Condensed"; font-weight: 300;
}

@font-face {
  src:url("../fonts/proximanovacond-light-webfont.ttf");
  font-family: "Proxima Condensed"; font-weight: 400;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    font-family: "Proxima Nova", sans-serif;
    font-weight: 300;
    height: 100%;
    overflow: auto;
}

.centered {
    /*height: 150px;*/
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    margin-top: -75px;
}

section {
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

h3 {
    color: #999;
    font-size: 1.25rem;
}

a {
    text-decoration: inherit;
    color: #87ceeb;
}

a:hover {
    color: #549bb8;
}

footer {
    color: #999;
    font-size: .75rem;
    text-align: center;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -40px;
}

p {
    margin: 0 10%;
}

em {
    color: #f33;
}

#helper {
  display:none;
  line-height: 140%;
}

#caseTitle {
  width: 220px;
  height: 62px;
  position:absolute;
  left:0;
  top:0;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  border-bottom: 2px solid rgba(180, 180, 180, 0.1);
  font-family: "Proxima Nova";
  font-weight: 700;
  text-align: left;
  padding-left: 20px;
  background-color: #303E4D;
  color: #FFF;
}

#currentCaseDisplayName {
  width: calc(100% - 220px);
  width: -webkit-calc(100% - 220px);
  height: 62px;
  position: absolute;
  right: 0;
  top:0 ;
  font-family: "Proxima Nova";
  color: #333;
  font-weight: 500;
  text-align: left;
  padding-left: 20px;
  border-bottom: 2px solid rgba(33, 33, 33, 0.1);
}

#mainInput {
  position:absolute;
  bottom: 0;
  left: 220px;
  width: calc(75% - 220px);
  width: -webkit-calc(75% - 220px);
  font-size: 11pt;
  font-family: "Proxima Nova";
  font-weight: 400;
  margin-top: -17px;
  padding: 15px;
  border: 0;
  border-top: 2px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
}

#mainInput:focus {
  outline-style: none;
  border-top: 2px solid #6698C8;
}

#warning {
  font-weight: 400;
}

#logOut {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10pt;
  font-weight: 400;
  border-radius: 1px;
  color: #333;
  font-family: 'Proxima Nova';
  padding: 10px 15px 10px 15px;
  border: 1px solid #999;
  height: 40px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
}

#logOut:hover {
  cursor:pointer;
  background-color: #6698C8;
  color: #fff;
}

#team_name {
  font-weight: 500;
}

#user_name {
  font-weight: 300;
  font-size: 11pt;
  color: rgb(190, 190, 190);
}

.section_title {
  font-weight: 300;
  font-size: 11pt;
  color: rgb(190, 190, 190);
  text-transform: uppercase;
  padding-top: 5px;
  padding-left: 20px;
  border-bottom: 5px solid transparent;
}

.indicator {
  height: 8px;
  width: 8px;
  background-color: rgb(148, 232, 100);
  display: inline-block;
  border-radius: 50%;
}

.info {
  font-weight: 300;
  font-size: 11pt;
}

.cases {
  padding: 10px 0!important;
  font-family: "Proxima Nova";
  height: -webkit-calc(100% - 62px);
  height: calc(100% - 62px);
  position:absolute;
  top: 62px;
  overflow: scroll;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  left: 0;
  width: 220px;
  background-color: #303E4D;
  color: rgb(190, 190, 190);
}

.messages {
  position:absolute;
  left: 220px;
  width: calc(75% - 220px);
  width: -webkit-calc(75% - 220px);
  height: calc(100% - 111px);
  height: -webkit-calc(100% - 111px);
  overflow: scroll;
  top: 71px;
}

.notes {
  position:absolute;
  right: 0;
  width: calc(25%);
  width: -webkit-calc(25%);
  height: calc(100% - 62px);
  height: -webkit-calc(100% - 62px);
  overflow: scroll;
  top: 62px;
  border: 0;
  border-left: 2px solid rgba(33, 33, 33, 0.2);
  padding: 10px;
  font-size: 12pt;
  background-color: #fffefb;
  font-family: 'Proxima Nova';
  resize: none;
}

.notes:focus {
  outline: none;
}

.notes .notesSpace {
    margin-bottom: 20px;
    height: calc(100% - 100px);
    height: -webkit-calc(100% - 100px);
    overflow-y: scroll;
    line-height: 130%;
    min-width: 100px;
    position: relative;
}

.active {
  background-color: #6698C8;
  color: #fff;
}

.inactive {
  background-color: #7f8c8d;
  color: #eee;
}

.inactive:hover {
  cursor: not-allowed;
}

.case {
  font-family: inherit;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  padding: 8px 8px 8px 20px;
  width: 100%;
}

.case:hover {
  cursor:pointer;
}

.case .caseImage {
  display: inline-block;
  height: 50px;
  margin-top: -8px;
  border-radius: 25%;
}

.case .caseName {
  display: block;
  font-size: 15px;
}

.case .caseLastMessage {
  font-size: 10pt;
  margin-left: 65px;
}

.columns {
  border: 2px solid rgba(33, 33, 33, 0.2);
}

.messenger {
  margin-left: 0 auto;
  margin-right: 0 auto;
  font-family: "Helvetica Neue";
}

.title {
  border-bottom: 0px;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 14pt;
  height: 60px;
  padding-top: 12px!important;
  padding-bottom: 15px!important;
  line-height: 110%;
}

.messenger .messageSpace {
    margin-bottom: 20px;
    height: calc(100% - 100px);
    height: -webkit-calc(100% - 100px);
    overflow-y: scroll;
    line-height: 130%;
    min-width: 100px;
    position: relative;
}

.message {
    width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    margin: 0 15px 10px;
    font-size: 11pt;
    position: relative;
    color: #363636;
    font-family: "Proxima Nova";
    font-weight: 400;
    word-break: break-all;
}

.message .sender_name {
    font-weight: bold;
    font-size: 12pt;
}

.message .date {
    font-size: 10pt;
    font-weight: 300;
    color: #999;
    display: inline-block;
    margin-left: 7px;
}

.message.to {
    clear:both;
    text-align:left;
    margin-right: calc(100% - 200px);
    margin-right: -webkit-calc(100% - 200px);
}

.message.to > .sender_name {
    color: #363636;
}

.message.from {
    clear:both;
    text-align:left;
    margin-right: calc(100% - 200px);
    margin-right: -webkit-calc(100% - 200px);
}

.message.from > .sender_name {
    color: #2980b9;
}

.failed {
    color: #c0392b;
}

button {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
}

button:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}
