@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");

@font-face {
  src:url("../fonts/proximanova-bold-webfont.ttf");
  font-family: "Proxima Nova"; font-weight: 700;
}

@font-face {
  src:url("../fonts/proximanova-semibold-webfont.ttf");
  font-family: "Proxima Nova"; font-weight: 500;
}

@font-face {
  src:url("../fonts/proximanova-light-webfont.ttf");
  font-family: "Proxima Nova"; font-weight: 300;
}

@font-face {
  src:url("../fonts/proximanova-regular-webfont.ttf");
  font-family: "Proxima Nova"; font-weight: 400;
}

@font-face {
  src:url("../fonts/proximanovacond-semibold-webfont.ttf");
  font-family: "Proxima Condensed"; font-weight: 500;
}

@font-face {
  src:url("../fonts/proximanovacond-thin-webfont.ttf");
  font-family: "Proxima Condensed"; font-weight: 300;
}

@font-face {
  src:url("../fonts/proximanovacond-light-webfont.ttf");
  font-family: "Proxima Condensed"; font-weight: 400;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    height: 100%;
    overflow: auto;
}

.centered {
    /*height: 150px;*/
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    margin-top: -75px;
}

section {
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

h3 {
    color: #999;
    font-size: 1.25rem;
}

a {
    text-decoration: inherit;
    color: #87ceeb;
}

a:hover {
    color: #549bb8;
}

footer {
    color: #999;
    font-size: .75rem;
    text-align: center;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -40px;
}

p {
    margin: 0 10%;
}

em {
    color: #f33;
}

#helper {
  display:none;
  line-height: 140%;
}

.contact {
  margin-top: 25px;
}

.contact #mainField {
  display:none;
}

.contact #mainOption {
  display:none;
}

.contact #mainTextArea {
  display:none;
}

.contact input, select {
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  background-color: transparent;
  border-radius: 0;
  color: #999;
  font-size: 14pt;
  font-family: "Open Sans";
  padding: 8px 50px 8px 8px;
  border: 0;
  border-bottom: 2px solid rgba(33, 33, 33, 0.2);
  margin: 0 0px 15px 0px;
  width: -webkit-calc(100% - 120px);
  width: calc(100% - 120px);
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
}

.contact .inputButton {
    margin-left: 10px;
    font-size: 14pt;
    padding: 8px;
    font-family: "Open Sans";
    width: 50px;
    background: #3498db;
    border-radius: 3px;
    color: white;
    border:0;
    border-bottom: 2px solid transparent;
    -webkit-appearance: none;
}

.contact input:focus {
  outline: none;
  border-bottom: 2px solid #3498db;
  color: #3498db;
}

.contact #submit {
  font-family: "Open Sans";
  display:none;
  border: 1px solid rgba(33, 33, 33, 0.1);
  border-radius: 4px;
  background-color: #3498db;
  color:white;
  padding: 10px 0px 10px 0px;
  width: 100%;
  font-size: 14pt;
  vertical-align: top;
}

.contact #backButton {
  opacity: 0.5!important;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  display:none;
}

.contact #backButton:hover {
  opacity: 1.0!important;
  cursor:pointer;
}

.contact select option:first-child {
  color: #999;
}

.contact select:focus {
  outline: none;
  border-bottom: 2px solid #3498db;
  color: #3498db;
}

.contact textarea {
  resize: none;
  font-size: 14pt;
  font-family: "Open Sans";
  padding: 8px 8px 8px 8px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 90%;
  border-radius: 3px;
  /*width: calc(100% - 120px);*/
  border: 1px solid rgba(33, 33, 33, 0.1);
  /*border-bottom: 2px solid rgba(33, 33, 33, 0.2);*/
  height: 200px;
}

.contact textarea:focus {
  outline:none;
  border-bottom: 2px solid #3498db;
  color: #3498db;
}

.contact button:hover {
  cursor:pointer;
}

.contact button:focus {
  outline:none;
}

#caseTitle {
  width: 220px;
  height: 61px;
  position:absolute;
  left:0;
  top:0;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  border-bottom: 1px solid rgba(180, 180, 180, 0.1);
  font-family: "Proxima Nova";
  font-weight: 700;
  text-align: left;
  padding-left: 20px;
  background-color: #303E4D;
  color: #FFF;
}

#currentCaseDisplayName {
  width: calc(100% - 220px);
  width: -webkit-calc(100% - 220px);
  height: 61px;
  position: absolute;
  right: 0;
  top:0 ;
  font-family: "Proxima Nova";
  color: #333;
  font-weight: 500;
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}

#mainInput {
  position:absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 220px);
  width: -webkit-calc(100% - 220px);
  font-size: 11pt;
  font-family: "Proxima Nova";
  font-weight: 400;
  margin-top: -17px;
  padding: 15px;
  border: 0;
  border-top: 1px solid rgba(33, 33, 33, 0.2);
}

#mainInput:focus {
  outline-style: none;
}

#logOut {
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12pt;
  font-weight: 700;
  color: #3498db;
}

#logOut:hover {
  cursor:pointer;
  color: #2980b9;
}

#team_name {
  font-weight: 500;
}

#user_name {
  font-weight: 300;
  font-size: 11pt;
  color: rgb(190, 190, 190);
}

.section_title {
  font-weight: 300;
  font-size: 11pt;
  color: rgb(190, 190, 190);
  text-transform: uppercase;
  padding-top: 5px;
  padding-left: 20px;
  border-bottom: 5px solid transparent;
}

.indicator {
  height: 8px;
  width: 8px;
  background-color: rgb(148, 232, 100);
  display: inline-block;
  border-radius: 50%;
}

.info {
  font-weight: 300;
  font-size: 11pt;
}

.cases {
  padding: 10px 0!important;
  font-family: "Proxima Nova";
  height: -webkit-calc(100% - 61px);
  height: calc(100% - 61px);
  position:absolute;
  top: 61px;
  overflow: scroll;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  left: 0;
  width: 220px;
  background-color: #303E4D;
  color: rgb(190, 190, 190);
}

.messages {
  position:absolute;
  left: 220px;
  width: calc(75% - 220px);
  width: -webkit-calc(75% - 220px);
  height: calc(100% - 111px);
  height: -webkit-calc(100% - 111px);
  overflow: scroll;
  top: 71px;
}

.notes {
  position:absolute;
  right: 0;
  width: calc(25%);
  width: -webkit-calc(25%);
  height: calc(100% - 111px);
  height: -webkit-calc(100% - 111px);
  overflow: scroll;
  top: 61px;
  border: 0;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding: 10px;
  font-size: 12pt;
  background-color: #fffefb;
  font-family: 'Proxima Nova';
  resize: none;
}

.notes:focus {
  outline: none;
}

.notes .notesSpace {
    margin-bottom: 20px;
    height: calc(100% - 100px);
    height: -webkit-calc(100% - 100px);
    overflow-y: scroll;
    line-height: 130%;
    min-width: 100px;
    position: relative;
}

.active {
  background-color: #6698C8;
  color: #fff;
}

.case {
  font-family: inherit;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  padding: 8px 8px 8px 20px;
  width: 100%;
}

.case:hover {
  cursor:pointer;
}

.case .caseImage {
  display: inline-block;
  height: 50px;
  margin-top: -8px;
  border-radius: 25%;
}

.case .caseName {
  display: block;
  font-size: 15px;
}

.case .caseLastMessage {
  font-size: 10pt;
  margin-left: 65px;
}

.columns {
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.messenger {
  margin-left: 0 auto;
  margin-right: 0 auto;
  font-family: "Helvetica Neue";
}

.title {
  border-bottom: 0px;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 14pt;
  height: 61px;
  padding-top: 12px!important;
  padding-bottom: 15px!important;
  line-height: 110%;
}

.messenger .messageSpace {
    margin-bottom: 20px;
    height: calc(100% - 100px);
    height: -webkit-calc(100% - 100px);
    overflow-y: scroll;
    line-height: 130%;
    min-width: 100px;
    position: relative;
}

.message {
    width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    margin: 0 15px 10px;
    font-size: 11pt;
    position: relative;
    color: #363636;
    font-family: "Proxima Nova";
    font-weight: 400;
    word-break: break-all;
}

.message .sender_name {
    font-weight: bold;
    font-size: 12pt;
}

.message .date {
    font-size: 12pt;
    font-weight: 300;
    color: #999;
    display: inline-block;
    margin-left: 10px;
}

.message.to {
    clear:both;
    text-align:left;
    margin-right: calc(100% - 200px);
    margin-right: -webkit-calc(100% - 200px);
}

.message.to > .sender_name {
    color: #363636;
}

.message.from {
    clear:both;
    text-align:left;
    margin-right: calc(100% - 200px);
    margin-right: -webkit-calc(100% - 200px);
}

.message.from > .sender_name {
    color: #2980b9;
}

button {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
}

button:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

#requestForm {
  text-align:center;
}

@media (max-width: 512px) {
  #backLabel {
    display:none;
  }
}
